nav {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    color: white
}

nav ul {
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: flex;
    align-items: center;
    text-decoration-line: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding-left: 16px;
    padding-right: 12px;
    font-size: 24px;
    font-style: normal;
    font-family: "Source Sans 3", sans-serif;
}

nav ul li h3{
    margin: 0;
    padding: 0;
}

nav img{
    margin: 0
}

html {
    background-color: #F4F4F4
}

.hero{
    display: flex;
    justify-content: space-between;
    margin: 59px 100px 80px 100px;
    background-color: #468C98;
    border-radius: 3px;
}

.hero-txt h1, h2, p{
    padding: 0;
    margin: 0;
}

.hero-txt h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.hero-txt h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: initial;    
}

.hero-txt{
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #F4F4F4;
    text-shadow: 0 4px 4px rgba(0,0,0, .53);
    font-family: "Source Sans 3", sans-serif;
    padding: 0px 27px 0px 52px;
}

.hero-btns button{
    margin-top: 65px;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
}
.hero-btns button:first-of-type{
    background-color: #7B4698;
    color: #F4F4F4;
    margin-right: 34px;
    border: 4px solid #7B4698;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.hero-btns button:last-of-type{
    background-color: #468C98;
    color: #F4F4F4;
    margin-right: 34px;
    border: 4px solid #F4F4F4;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.features{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px
}
